body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik Wet Paint', cursive;
}
h1 {
	font-family: 'Rubik Wet Paint', cursive;
}

}
.albums {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;]
	background-color: black;
}
.albums h2{
	width: 100%;
	text-align: center;
	padding: 5%;
	color: ;
}
.album{
	width: 26%;
	text-align: center;
}
.album img{
	width: 100%;
	height: auto;
}
